* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    margin: 1rem;
    text-align: center;
}

.menu {
    background-color: red;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    /*height: 100px;*/
    display: inline-block;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: flex-start;
    /*padding: 0.2rem calc((100vw - 1000px) / 2);*/
    z-index: 12;
    font-weight: bold;
}

.menu a {
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    float: left;
    overflow: hidden;
}

.menu a.active {
    color: red;
    background-color: whitesmoke;
    font-weight: bold;
}

.menu a:hover {
    color: red;
    background-color: whitesmoke;
    font-weight: bold;
}

.menu-right {
    float: right;
}

.nav {
    background-color: #e7dede;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: #e7e7e7;
    text-decoration: underline;
}

.nav li:hover {
    /* background-color: #777; */
    transform: translateY(-3px);
    /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); */
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #d20000;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.cta-btn {
    display: inline-block;
    padding: 1.5rem 3rem;
    background-color: red;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.cta-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    background-color: whitesmoke;
    color: red;
}