@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');
.header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://hienergy.biz/wp-content/uploads/2019/10/matt-2.jpg");
    /* background: linear-gradient(0deg, rgba(131, 34, 195, 1) 0%, rgba(0, 249, 255, 1) 100%); */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    /* background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); */
    /*background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);*/
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: flex-start; */
}

.menu {
    background-color: red;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    /*height: 100px;*/
    display: inline-block;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: flex-start;
    /*padding: 0.2rem calc((100vw - 1000px) / 2);*/
    z-index: 12;
    font-weight: bold;
}

.menu a {
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    float: left;
    overflow: hidden;
}

.menu a.active {
    color: red;
    background-color: whitesmoke;
    font-weight: bold;
}

.menu a:hover {
    color: red;
    background-color: whitesmoke;
    font-weight: bold;
}

.menu-right {
    float: right;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    margin-right: 2rem;
}

.hero-text {
    text-align: center;
    color: whitesmoke;
    margin-top: 5rem;
}

.hero-text h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.hero-text p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.cta-btn {
    display: inline-block;
    padding: 1.5rem 3rem;
    background-color: red;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.cta-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    background-color: whitesmoke;
    color: red;
}

.hover-n:hover {
    transform: translateY(-3px);
    /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); */
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.cs {
    box-shadow: '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)';
}

.img-circle {
    border-radius: 50%;
    max-width: 16%;
    max-height: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    text-shadow: 2px 2px 4px #000000;
}

.title1 {
    font-family: 'Calligraffitti', cursive;
    font-weight: 700;
    font-size: 13rem;
    position: absolute;
    display: inline;
    flex: auto;
    text-shadow: -15px 5px 20px #ced0d3;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.02em;
    text-align: center;
    align-items: center;
    width: 100%;
    color: #F9f1cc;
    text-shadow: 5px 5px 0px #FFB650, 10px 10px 0px #FFD662, 15px 15px 0px #FF80BF, 20px 20px 0px #EF5097, 25px 25px 0px #6868AC, 30px 30px 0px #90B1E0;
}

#container {
    color: whitesmoke;
    /* text-transform: uppercase; */
    font-size: 36px;
    font-weight: bold;
    /*padding-top: 200px;*/
    position: relative;;
    width: 100%;
    bottom: 5%;
    /*display: block;
    margin: 5px;*/
}

#flip {
    height: 50px;
    overflow: hidden;
}

#flip>div>div {
    color: #fff;
    padding: 4px 12px;
    height: 45px;
    margin-bottom: 45px;
    display: inline-block;
}

#flip div:first-child {
    animation: show 5s linear infinite;
}

#flip div div {
    background: #0d3b66;
}

#flip div:first-child div {
    background: #f95738;
}

#flip div:last-child div {
    background: #720026;
}

@keyframes show {
    0% {
        margin-top: -270px;
    }
    5% {
        margin-top: -180px;
    }
    33% {
        margin-top: -180px;
    }
    38% {
        margin-top: -90px;
    }
    66% {
        margin-top: -90px;
    }
    71% {
        margin-top: 0px;
    }
    99.99% {
        margin-top: 0px;
    }
    100% {
        margin-top: -270px;
    }
}